{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mail to Future</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}
    <div class="background1">
        <div class="background2">
            <div class="container">
                <div class="title text-center">
                    <h1>This is the title!</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 main">
                        <form action="" method="post">
                            {{ wtf.form_field(form.subject) }}
                            {{ wtf.form_field(form.receiver) }}
                            {{ wtf.form_field(form.receiveDate) }}
                            <div class="form-group">
                                {{ form.content.label }}
                                {{ form.content(id="content", class="form-control", cols=40, rows=10) }}
                            </div>
                            <br>
                            <button type="submit" class="btn btn-block btn-info btn-lg">
                                To Future
                            </button>
                            {#                            {{ form.submit(class="btn btn-block btn-info btn-lg") }}#}
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer" class="bg-light text-center border-bottom">
                <br>
                <p>Powered by <a href="https://github.com/xlui">xlui</a></p>
                <p>Source code: <a href="https://github.com/xlui/eFuture">eFuture</a></p>
                <p>Contact Us: <a href="mailto:future@xd.mk">future@xd.mk</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('date').datepicker({
            weekStart: 1,
            autoclose: true,
            daysOfWeekHighlighted: "0,6",
            format: "yyyy/mm/dd",
            language: "en"
        });
    </script>
{% endblock %}